.upnav {
  display: none;
}

.dasnav {
  border: none;
  outline: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.pre-wrap {
  overflow: hidden;
  position: relative;
  display: none;
  width: 200px;
  height: 250px;
}

.pre-wrap img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .dasnav {
    display: none;
  }

  .upnav {
    display: flex;
  }
}
